<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, minimum-scale=1.0, initial-scale=1.0, user-scalable=yes">
  <title>single-date-time Demo</title>
  <script src="../../webcomponentsjs/webcomponents-lite.js"></script>
  <link rel="import" href="individual-element.html">
  <style>
    .container {
      margin: 0 auto;
      max-width: 1200px;
      height: 100%;
    }
  </style>
</head>
<body unresolved>
<div class="container">
  <individual-element></individual-element>
</div>
</body>
</html>
